body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 1.42;
  background: #29292c;
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

.btn {
  margin-top: 34px;
  display: inline-block;
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(./img/welcome/bg.png) center bottom / cover no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: zoom 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.h3 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 52px;
}

.central__logo {
  height: 119px;
  width: 279px;
}

@keyframes zoom {
  from {
    transform: scale(.7);
  }

  20% {
    transform: scale(1.15);
  }

  40% {
    transform: scale(.9);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}