.brends {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.brends__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 85px;
  align-items: center;
  justify-content: center;
}