.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(../../img/welcome/bg.jpg) center bottom / cover no-repeat;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: zoom 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.h3 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 52px;
}

.central__logo {
  height: 119px;
  width: 279px;
  background: url(.jpg);
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

@keyframes zoom {
  from {
    transform: scale(.7);
  }

  20% {
    transform: scale(1.15);
  }

  40% {
    transform: scale(.9);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}